if !chat 
  .no-messages
        p Выберите чат чтобы отправить сообщение
else
  .head 
    !=head
    !=settings
  .messages
    each message in messages
      if message!=''
        p
          !=message
  form.add-message 
    !=addMessage
    !=pushMessage
  
  if isSettings 
    !=settingsModal
  if isAddUser 
    !=addUserModal
  if isUsers 
    !=users
  if isDelUserList
    !=delUsers