block content
  link(rel="stylesheet", href="/src/pages/pug/login/styles.less")
  include ../../../components/password/index.pug

  #container.container
    .form-container.sign-up
      form
        h1 Регистрация
        input(type="email", placeholder="Почта", name="email")
        input(type="text", placeholder="Логин", name="login")
        input(type="text", placeholder="Имя", name="first_name")
        input(type="text", placeholder="Фамилия", name="second_name")
        input(type="tel", placeholder="Телефон", name="phone")
        +password('sign-up-first-password','Пароль', "password")
        +password('sign-up-second-password','Пароль (еще раз)', "password")
        a(href="/src/pages/chats.html")
          button.confirm(type="button") Зарегистрироваться
    .form-container.sign-in
      form
        h1 Вход
        input(type="text", placeholder="Логин", name="login")
        +password('sign-in-password','Пароль', "password")
        a(href="/src/pages/chats.html")
          button.confirm(type="button") Авторизоваться
    .toggle-container
      .toggle
        #login.toggle-panel.toggle-left
          h1 Вход
        #register.toggle-panel.toggle-right
          h1 Нет аккаунта?
  script(src="pug/login/script.ts")
  script(src="../components/password/index.ts")
