- 
  let info = [{
    label: "Почта",
    text: "Test123@yandex.ru",
    type: "email"
  },{
    label: "Логин",
    text: "Test123",
    type: "text"
  },{
    label: "Имя",
    text: "Иван",
    type: "text"
  },{
    label: "Фамилия",
    text: "Сидоров",
    type: "text"
  },{
    label: "Имя в чате",
    text: "Иван Сидоров",
    type: "text"
  },{
    label: "Телефон",
    text: "+7 (999) 123-45-67",
    type: "tel"
  }]

block content 
  link(rel="stylesheet", href="/src/pages/pug/profile/styles.less")
  include ../../../components/info/index.pug
  include ../../../components/password/index.pug

  #content.content 
    .sidebar 
      a(href="/src/pages/chats.html") &lt; Чаты
    .profile
      .profile-icon
        img(src="/camera.svg")
        .load
          span Загрузить
      h1 Иван Сидоров
      .profile-info.active
        .profile-info-list
          each data in info
            +info(data.label, data.text)
        .profile-buttons 
          button.profile-btn#change-data(type="bytton") Изменить данные
          button.profile-btn#change-password(type="bytton") Изменить пароль
          a(href="/src/pages/login.html")
            button.profile-btn#exit.red(type="bytton") Выйти

      .profile-change-data
        each data in info
          input(type=data.type, placeholder=data.label value=data.text)
        button.profile-btn#save(type="button") Сохранить
        
      .profile-change-password
        +password("old-password", "Старый пароль")
        +password("new-first-password", "Новый пароль")
        +password("new-second-password", "Новый пароль (еще раз)")
        button.profile-btn#save(type="button") Сохранить
        

script(src="pug/profile/script.ts")
script(src="../components/password/index.ts")