block content
  include ../../../components/password/index.pug

  #container.container
    .form-container.sign-up
      form
        h1 Регистрация
        input(type="email", placeholder="Почта", name="email")
        input(type="text", placeholder="Логин", name="login")
        input(type="text", placeholder="Имя", name="first_name")
        input(type="text", placeholder="Фамилия", name="second_name")
        input(type="tel", placeholder="Телефон", name="phone")
        +password('sign-up-first-password','Пароль', "password")
        +password('sign-up-second-password','Пароль (еще раз)', "password")
        button.confirm(type="submit") Зарегистрироваться
    .form-container.sign-in
      form
        h1 Вход
        input(type="text", placeholder="Логин", name="login")
        +password('sign-in-password','Пароль', "password")
        button.confirm(type="submit") Авторизоваться
    .toggle-container
      .toggle
        #login.toggle-panel.toggle-left
          h1 Вход
        #register.toggle-panel.toggle-right
          h1 Нет аккаунта?
