mixin password(id, placeholder, name)
  block content
    .password
      input(id=id, type="password", placeholder=placeholder, name=name)
      button.password-control(type="button", data-target=`#${id}`)
        img#eye(src="/image/visibility.svg", alt="") 
