@primary-color: #2989e5;
@background-color: #fff;
.password {
  position: relative;
  width: 100%;
  display: inline-flex;
}
.password-control {
  background: transparent;
  border: none;
  position: relative;
  img#eye {
    position: absolute;
    top: 6px;
    right: 6px;
    display: inline-block;
    width: 20px;
    height: 20px;
  }
}
