block content

  #content.content
    .sidebar-profile
      !=chatsButton
    .profile
      !=avatar
      h1= display_name
      .profile-info.active
        .profile-info-list
          each elem in info
            !=elem
        .profile-buttons
          !=changeDataButton
          !=changePasswordButton
          !=exitButton

      .profile-change-data
        !=formChangeData

      .profile-change-password
        !=formChangePassword

  if isLoadAvatar 
    !=loadAvatarModal
