-
  let info = [{
    label: "Почта",
    text: "Test123@yandex.ru",
    type: "email",
    name: "email",
  },{
    label: "Логин",
    text: "Test123",
    type: "text",
    name: "login"
  },{
    label: "Имя",
    text: "Иван",
    type: "text",
    name: "first_name"
  },{
    label: "Фамилия",
    text: "Сидоров",
    type: "text",
    name: "second_name"
  },{
    label: "Имя в чате",
    text: "Иван Сидоров",
    type: "text",
    name: "display_name"
  },{
    label: "Телефон",
    text: "+7 (999) 123-45-67",
    type: "tel",
    name: "phone"
  }]

block content
  include ../../../components/info/index.pug
  include ../../../components/password/index.pug

  #content.content
    .sidebar
      a(href="/src/pages/chats.html") &lt; Чаты
    .profile
      .profile-icon
        img(src="/image/camera.svg", alt="photo")
        .load
          span Загрузить
      h1 Иван Сидоров
      .profile-info.active
        .profile-info-list
          each data in info
            +info(data.label, data.text)
        .profile-buttons
          button#change-data.profile-btn(type="bytton") Изменить данные
          button#change-password.profile-btn(type="bytton") Изменить пароль
          a(href="/src/pages/login.html")
            button#exit.profile-btn.red(type="bytton") Выйти

      .profile-change-data
        form
          each data in info
            input(
              type=data.type,
              placeholder=data.label,
              value=data.text,
              name=data.name
            )
          button#save.profile-btn(type="submit") Сохранить

      .profile-change-password
        form
          +password("old-password", "Старый пароль", "oldPassword")
          +password("new-first-password", "Новый пароль", "newPassword")
          +password("new-second-password", "Новый пароль (еще раз)", "newPassword")
          button#save.profile-btn(type="submit") Сохранить
