block content
  #content.content
    .sidebar
      .sidebar-top
        !=addChat
        !=profileButton
      .search
        !=search
      .chat-list
        if chatsPreview 
          each el in chatsPreview
            !=el


    !=chat
  if isAddChat 
    !=modal