block content
  link(rel="stylesheet", href="/src/pages/pug/404/styles.less")
  .img-404
    img(src="/image/404.svg", alt="")
    h1 Ууупс, не смогли найти страницу
    a(href="/src/pages/chats.html") Назад к чатам
