mixin chat(messages)
  block content
    link(rel="stylesheet", href="/src/components/chat/styles.less")

    if !messages
      .no-messages
        p Выберите чат чтобы отправить сообщение
    else
      .chat
