block content
ul 
  li
    a(href="src/pages/login.html") Логин
  li
    a(href="src/pages/404.html") 404
  li
    a(href="src/pages/500.html") 500
  li
    a(href="src/pages/chats.html") Чаты
  li 
    a(href="src/pages/profile.html") Профиль